.icon {
    -fx-text-fill: rgb(130, 130, 130);
    -fx-label-padding: 0px 5px;
}

#title {
    -fx-text-fill: rgb(130, 130, 130);
}

#toolbar {
    -fx-background-color: #1A1A1A;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 3px;
    -fx-border-color: #63B538;
}